<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplyDAO">

	<!-- insert에 resultType이 없어도 기본이 int -->
	<insert id="insertReply" parameterType="com.javassem.domain.ReplyVO">
		<!-- INSERT INTO reply(bno, reply, replyer, replydate)
		VALUES(#{bno}, #{reply}, #{replyer}, sysdate()) -->
		<!-- 오라클 -->
		INSERT INTO reply(rno, bno, reply, replyer, replydate)
		VALUES(reply_seq.nextval, #{bno}, #{reply}, #{replyer}, sysdate)
	</insert>

	<!-- resultType은 select에서만 사용 : 값을 가져와서 화면에 띄워줘야해서  -->
	<select id='selectAllReply' parameterType='int' resultType='com.javassem.domain.ReplyVO'>
		SELECT * FROM reply WHERE bno=#{bno}
		ORDER BY rno DESC
	</select>
	
	<delete id='deleteReply' parameterType='int'>
		DELETE FROM reply WHERE rno=#{rno}
	</delete>
	
	<update id="modifyReply" parameterType='com.javassem.domain.ReplyVO'>
		UPDATE reply
		SET reply = #{reply}, replyer = #{replyer}
		WHERE rno = #{rno}
	
	</update>
</mapper>